.rootStyle{
    height: 100vh;
    padding: 2rem;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    text-align: center;
    .title{
        font-size: 4rem;
        margin-bottom: 2rem;
    }
}